// ==========================================
// Sketch+Fajitas Tokens
// ==========================================

// Palettes - Colors to choose from
$tomato:                     hsl(4, 100%, 47%);
$pink:                       hsl(319, 82%, 52%);
$purple:                     hsl(291, 64%, 42%);
$grape:                      hsl(262, 52%, 47%);
$indigo:                     hsl(231, 48%, 48%);
$blue:                       hsl(223, 82%, 50%);
$sky:                        hsl(206, 100%, 50%);
$cyan:                       hsl(187, 100%, 42%);
$teal:                       hsl(174, 100%, 29%);
$green:                      hsl(122, 39%, 49%);
$lime:                       hsl(88, 50%, 53%);
$lemon:                      hsl(66, 70%, 54%);
$yellow:                     hsl(54, 100%, 62%);
$amber:                      hsl(45, 100%, 51%);
$orange:                     hsl(24, 100%, 50%);
$pumpkin:                    hsl(21, 100%, 43%);
$brown:                      hsl(16, 25%, 38%);
$grey:                       hsl(0, 0%, 62%);
$midnight:                   hsl(200, 20%, 46%);
$light:                      hsl(0, 0%, 95%);
$dark:                       hsl(0, 0%, 20%);

// Branding Colors
$sk305-primary:                $pink;
$sk305-primaryLighter:         lighten($sk305-primary, 30);
$sk305-primaryLight:           lighten($sk305-primary, 10);
$sk305-primaryDark:            darken($sk305-primary, 10);
$sk305-primaryDarker:          darken($sk305-primary, 30);

// Accent Colors
$sk305-secondary:              $grape;
$sk305-secondaryLighter:       lighten($sk305-secondary, 30);
$sk305-secondaryLight:         lighten($sk305-secondary, 10);
$sk305-secondaryDark:          darken($sk305-secondary, 10);
$sk305-secondaryDarker:        darken($sk305-secondary, 30);

// Neutral Colors
$sk305-paper:                  $midnight;
$sk305-paperLighter:           lighten($sk305-paper, 30);
$sk305-paperLight:             lighten($sk305-paper, 40);
$sk305-paperDark:              darken($sk305-paper, 10);
$sk305-paperDarker:            darken($sk305-paper, 30);

// Functional Colors
$sk305-success:                $teal;
$sk305-warning:                $amber;
$sk305-danger:                 $tomato;
$sk305-dark:                   $dark;
$sk305-light:                  $light;
$sk305-link:                   saturate($tomato, 50%);

// ==========================================
// TYPOGRAPHY
// ==========================================

// Font Color
$sk305-bodyAtDay:              $sk305-dark;
$sk305-bodyAtNight:            $sk305-light;

// Font Typeface
$sk305-fontFamily:             'Roboto';
$sk305-fontFamilyCondensed:    'Roboto Condensed';
$sk305-fontFamilyMono:         'Roboto Mono';

$sk305-fontFamilyPair:         'Roboto Mono';
$sk305-fontFamilySans:         'Noto Sans';
$sk305-fontFamilySerif:        'Georgia';
$sk305-fontFamilySlab:         'Roboto Slab';

// Font Size
$sk305-fontSize-96:             6rem;
$sk305-fontSize-60:             3.75rem;
$sk305-fontSize-48:             3rem;
$sk305-fontSize-36:             2.25rem;
$sk305-fontSize-34:             2.125rem;
$sk305-fontSize-30:             1.875rem;
$sk305-fontSize-24:             1.5rem;
$sk305-fontSize-20:             1.25rem;
$sk305-fontSize-18:             1.125rem;
$sk305-fontSize-16:             1rem;
$sk305-fontSize-14:             0.875rem;
$sk305-fontSize-12:             0.75rem;
$sk305-fontSize-10:             0.625rem;

// Font Line Height
$sk305-lineHeightTight:         1.25;
$sk305-lineHeightNormal:        1.5;
$sk305-lineHeightComfort:       1.75;

// Font Weight
$sk305-fontWeightLight:         300;
$sk305-fontWeightRegular:       400;
$sk305-fontWeightMedium:        500;
$sk305-fontWeightHeavy:         700;
$sk305-fontWeightBlack:         900;

// Shadows
$sk305-boxShadow-01:            0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$sk305-boxShadow-02:            0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$sk305-boxShadow-03:            0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
$sk305-boxShadow-04:            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-06:            0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-08:            0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-09:            0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-12:            0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-16:            0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$sk305-boxShadow-24:            0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
