// Material Design Palette Sketch Styles Generation
// Using Puzzle Tokens Sketch plugin and SASS
// version 1.0.1 by Marcelo Paiva (gh: mpaiva) and Juan Alvarado (gh: jalvarado91)


// Required SASS modules:
@use "sass:map";     // access values in arrays
@use "sass:color";   // color manipulation
 
// Dependencies:
@import "../../styles/helpers/constants";
@import "../../styles/helpers/functions";
@import "../../styles/helpers/mixins";
@import "../../styles/helpers/tokens";


//// Base colors

$colors: (
    on-light:            $sk305-surface-darker,
    on-dark:             $sk305-surface-light
);

// Fonts

$font-family:           $sk305-font-family;

$font-size: (
    display-lg:         20px, // rem-to-px($sk305-text-size-9),
    display-md:         16px, // rem-to-px($sk305-text-size-8),
    display-sm:         12px, // rem-to-px($sk305-text-size-7),
    display-xs:         8px // rem-to-px($sk305-text-size-5)
);

$font-weight: (
    light:              $sk305-font-weight-light,
    regular:            $sk305-font-weight-regular,
    medium:             $sk305-font-weight-medium,
    heavy:              $sk305-font-weight-heavy,
    black:              $sk305-font-weight-black
);
$text-align: left, right, center;

$module: 4px;

// Texts generation: Size/Alignment/Color

.display {
    @each $ks,$vs in $font-size {
        .#{$ks} {
            @each $va in $text-align {
                $ia: index(($text-align), ($va));
                .#{$va} {
                    @each $kc, $vc in $colors {
                        .#{$kc} {
                            color: $vc;
                            font-size: $vs;
                            font-family: $font-family;
                            text-align: $va;
                            vertical-align: middle;
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }
}