@import "helpers/tokens";
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

html {
    font-family: $sk305-font-family;
    margin: 3rem;
}

body {
    font-family: $sk305-font-family-mono;
    color: $sk305-onLight-text;
    font-size: $sk305-text-size-5;
    text-align: center;}

h1 {
    font-size: $sk305-text-size-9;
    color: $sk305-dark;
    font-family: $sk305-font-family;
    vertical-align: middle;
    line-height: $sk305-line-height-compact;
    border-color: transparent;
}

p {
    font-family: $sk305-font-family-mono;
}

.btn {
  font-family: $sk305-font-family;
  font-size: ($sk305-text-size-7);
  font-weight: $sk305-font-weight-black;
  color: $sk305-onDark-text;
  line-height: $sk305-line-height-reading;
  letter-spacing: 0.5px;
  text-align: center;
  background: $sk305-dark;
  border-color: (darken($sk305-dark,20)); 
  border-width: 4px;
  border-style: solid; 
  box-shadow: $sk305-elevation-09;
  border-radius: 8px;
  padding: 1rem 3rem;
}
