@import "helpers/tokens";
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

html {
    font-family: $sk305-fontFamily;
    margin: 3rem;
}

body {
    font-family: $sk305-fontFamilyPair;
    color: $sk305-bodyAtDay;
    font-size: $sk305-fontSize-16;
    text-align: center;}

h1 {
    font-size: $sk305-fontSize-60;
    color: $sk305-bodyAtDay;
    font-family: $sk305-fontFamily;
    vertical-align: middle;
    line-height: $sk305-lineHeightTight;
    border-color: transparent;
    font-weight: $sk305-fontWeightBlack;
    letter-spacing: ($sk305-fontSize-60/($sk305-lineHeightNormal*32));
}

p {
    font-family: $sk305-fontFamilyPair;
}

a {
  color: $sk305-link;
}

$btn-color: $sk305-danger;

.btn {
  font-family: $sk305-fontFamilySlab;
  font-size: ($sk305-fontSize-24);
  font-weight: $sk305-fontWeightBlack;
  color: $sk305-bodyAtNight;
  line-height: $sk305-lineHeightNormal;
  letter-spacing: 0.5px;
  text-align: center;
  background: $btn-color;
  border-color: (darken($btn-color,20));
  border-width: 4px;
  border-style: solid;
  box-shadow: $sk305-boxShadow-04;
  border-radius: 8px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: ($sk305-fontSize-24/($sk305-lineHeightNormal*4));
}

.btn:hover {
  background-color: darken($btn-color,10);
  box-shadow: $sk305-boxShadow-09;
  color: lighten($sk305-bodyAtNight,50);
}
.btn:focus {
  background-color: darken($btn-color,40);
  box-shadow: $sk305-boxShadow-01;
  color: lighten($sk305-bodyAtNight,50);
}
