@import "helpers/tokens";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

html {
    font-family: $sk305-font-family;
    margin: 3rem;
}

body {text-align: center;}

h1 {
    font-size: $sk305-text-size-9;
}

p {
    font-family: $sk305-font-family-mono;
}
