// Required SASS modules:
@use "sass:map";     // access values in arrays
@use "sass:string";  // stringfy
@use "sass:color";   // color manipulation

// Dependencies:
@import "../../../styles/helpers/constants";
@import "../../../styles/helpers/functions";
@import "../../../styles/helpers/tokens";


$btn-text-styles: // $name $color $family $size $line $weight $caps $align  
    "sm-onLight" $sk305-onLight-text $sk305-font-family ($sk305-text-size-2*16) $sk305-line-height-reading $sk305-font-weight-light uppercase left,
    "md-onLight" $sk305-onLight-text $sk305-font-family-condensed ($sk305-text-size-4*16) $sk305-line-height-reading $sk305-font-weight-light capitalize right,
    "lg-onLight" $sk305-onLight-text $sk305-font-family ($sk305-text-size-7*16) $sk305-line-height-reading $sk305-font-weight-black lowercase left,  
    "sm-onDark" $sk305-onDark-text $sk305-font-family ($sk305-text-size-2*16) $sk305-line-height-reading $sk305-font-weight-light uppercase left,
    "md-onDark" $sk305-onDark-text $sk305-font-family-condensed ($sk305-text-size-4*16) $sk305-line-height-reading $sk305-font-weight-light capitalize right,
    "lg-onDark" $sk305-onDark-text $sk305-font-family ($sk305-text-size-7*16) $sk305-line-height-reading $sk305-font-weight-black lowercase left;
.btn-label {
    @each $name, $color, $family, $size, $line, $weight, $caps, $align in $btn-text-styles {
        .btn-#{$name} {
            font-family: $family;
            color: $color;
            font-size: $size;
            line-height: $line;
            font-weight: $weight;
            text-transform: $caps;
            text-align: $align;
            border-width: 0;
            border-color: transparent;
        }
    }
}


$btn-shape-styles: // $name $fill $border-color $border-width $border-style $box-shadow
    "success" $sk305-success (darken($sk305-success,20)) 4px solid $sk305-elevation-04,
    "danger" $sk305-danger (darken($sk305-danger,20)) 4px solid $sk305-elevation-04,
    "warning" $sk305-warning (darken($sk305-warning,20)) 4px solid $sk305-elevation-04,
    "dark" $sk305-dark (darken($sk305-dark,20)) 4px solid $sk305-elevation-09,
    "light" $sk305-light (darken($sk305-light,20)) 4px solid $sk305-elevation-09;
.btn-bg {
    @each $bg-name, $fill, $border-color, $border-width, $border-style, $box-shadow in $btn-shape-styles {
        .btn-#{$bg-name} {
            background-color: $fill; 
            border-color: $border-color; 
            border-width: $border-width;
            border-style: $border-style; 
            box-shadow: $box-shadow;
        }
    }
}

