// Required SASS modules:
@use "sass:map";     // access values in arrays
@use "sass:string";  // stringfy
@use "sass:color";   // color manipulation

// Dependencies:
@import "../../../styles/helpers/constants";
@import "../../../styles/helpers/functions";
@import "../../../styles/helpers/tokens";


$btn-text-styles: //$name               $color                  $family                         $size                     $line                                         $weight                     $caps           $align  
                    "sm-atDay"          ($sk305-bodyAtDay)      ($sk305-fontFamily)            ($sk305-fontSize-16*16)   ($sk305-fontSize-10*$sk305-lineHeightTight)    ($sk305-fontWeightLight)    (lowercase)     (center),
                    "md-atDay"          ($sk305-bodyAtDay)      ($sk305-fontFamilyCondensed)   ($sk305-fontSize-20*16)   ($sk305-fontSize-12*$sk305-lineHeightNormal)   ($sk305-fontWeightMedium)   (capitalize)    (center),
                    "lg-atDay"          ($sk305-bodyAtDay)      ($sk305-fontFamilySlab)        ($sk305-fontSize-24*16)   ($sk305-fontSize-14*$sk305-lineHeightComfort)  ($sk305-fontWeightBlack)    (uppercase)     (center),     
                    "sm-atNight"        ($sk305-bodyAtNight)    ($sk305-fontFamily)            ($sk305-fontSize-16*16)   ($sk305-fontSize-10*$sk305-lineHeightTight)    ($sk305-fontWeightLight)    (lowercase)     (center),
                    "md-atNight"        ($sk305-bodyAtNight)    ($sk305-fontFamilyCondensed)   ($sk305-fontSize-20*16)   ($sk305-fontSize-12*$sk305-lineHeightNormal)   ($sk305-fontWeightMedium)   (capitalize)    (center),
                    "lg-atNight"        ($sk305-bodyAtNight)    ($sk305-fontFamilySlab)        ($sk305-fontSize-24*16)   ($sk305-fontSize-14*$sk305-lineHeightComfort)  ($sk305-fontWeightBlack)    (uppercase)     (center);
.btn-label {
    @each $name, $color, $family, $size, $line, $weight, $caps, $align in $btn-text-styles {
        .btn-#{$name} {
            font-family: $family;
            color: $color;
            font-size: $size;
            line-height: $line;
            font-weight: $weight;
            text-transform: $caps;
            text-align: $align;
            letter-spacing: ($size/($line*4));
            border-width: 0;
            border-color: transparent;
        }
    }
}


$btn-shape-styles: //$name      $fill               $border-color                   $border-width   $border-style     $box-shadow
                    "success"   ($sk305-success)    (darken($sk305-success,20))     (4px)           (solid)           ($sk305-boxShadow-04),
                    "danger"    ($sk305-danger)     (darken($sk305-danger,20))      (4px)           (solid)           ($sk305-boxShadow-04),
                    "warning"   ($sk305-warning)    (darken($sk305-warning,20))     (4px)           (solid)           ($sk305-boxShadow-04),
                    "night"     ($sk305-night)      (darken($sk305-night,20))       (4px)           (solid)           ($sk305-boxShadow-09),
                    "day"       ($sk305-day)        (darken($sk305-day,20))         (4px)           (solid)           ($sk305-boxShadow-09);
.btn-bg {
    @each $bg-name, $fill, $border-color, $border-width, $border-style, $box-shadow in $btn-shape-styles {
        .btn-#{$bg-name} {
            background-color: $fill; 
            border-color: $border-color; 
            border-width: $border-width;
            border-style: $border-style; 
            box-shadow: $box-shadow;
        }
    }
}
