extends layouts/default
include helpers/mixins

block variables
	- const title = "Sketch+Fajitas"

block content
	include:markdown-it content/index.md
	button.btn(type='submit') Submit

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
