// Material Design Palette Sketch Styles Generation
// Using Puzzle Tokens Sketch plugin and SASS
// version 1.0.1 by Marcelo Paiva (gh: mpaiva) and Juan Alvarado (gh: jalvarado91)


// Required SASS modules:
@use "sass:map";     // access values in arrays
@use "sass:color";   // color manipulation

// Dependencies:
@import "../../../styles/helpers/constants";
@import "../../../styles/helpers/functions";
@import "../../../styles/helpers/mixins";
@import "../../../styles/helpers/tokens";

$body-fontFamily:      $sk305-fontFamilySans;
$body-fontSize:        rem-to-px($sk305-fontSize-16);        

$body: (
  paragraph:(
    color:             $sk305-bodyAtNight,
    font-family:       $body-fontFamily,
    font-size:         $body-fontSize,
    font-weight:       $sk305-fontWeightRegular,
    line-height:       $sk305-lineHeightComfort,
    letter-spacing:    $sk305-letterSpacingNormal
  ),
  link:(
    color:             $sk305-linkAtNight,
    font-family:       $body-fontFamily,
    font-size:         $body-fontSize,
    font-weight:       $sk305-fontWeightBold,
    line-height:       $sk305-lineHeightNormal,
    letter-spacing:    $sk305-letterSpacingNormal,
    text-decoration:   "none"
  ),
  linkHover: (
    color:             darken($sk305-linkAtNight, 10),
    font-family:       $body-fontFamily,
    font-size:         $body-fontSize, 
    font-weight:       $sk305-fontWeightBold,
    line-height:       $sk305-lineHeightNormal,
    letter-spacing:    $sk305-letterSpacingNormal,
    text-decoration:   "underline"
  ),
  linkVisited: (
    color:             lighten(desaturate($sk305-linkAtNight, 40), 20),
    font-family:       $body-fontFamily,
    font-size:         $body-fontSize, 
    font-weight:       $sk305-fontWeightBold,
    line-height:       $sk305-lineHeightNormal,
    letter-spacing:    $sk305-letterSpacingNormal,
    text-decoration:   "underline"
  ),
  code: (
    color:             $sk305-bodyAtNight,
    font-family:       #{$sk305-fontFamilyMono},
    font-size:         $body-fontSize,
    font-weight:       $sk305-fontWeightBold,
    line-height:       $sk305-lineHeightNormal,
    letter-spacing:    $sk305-letterSpacingTight
  ),

);

.body-atNight {
  @each $cat-key, $cat-value in $body {
    .#{$cat-key} {
        @each $body-key, $body-value in $cat-value {     
            #{$body-key}: #{$body-value};
      }  
    }
  }
}
